.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: blue;
}
.dashboard-button a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}
.dashboard-button a:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}
button {
    color: blue;
    font-size:15x;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}
button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}
label {
    color: rgb(187, 12, 41);
    font-size: 18px;
}
input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 9px;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("https://www.thetakeout.com/1753839/grocery-store-vs-supermarket-difference/");
    background-size: cover;
    background-position: center;
    background-color: rgba(10, 227, 230, 0.5);
}

h1 {
    color: rgb(189, 48, 5);
}
h4,h2 {
    color: rgb(13, 47, 241);
}

.login {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
   
}
.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    height: 60vh;
}
.signup {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px ;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
    height: 60%;
}
